@import '../../sass';

.cart__product {
    @include flex($align: center);

    max-width: 50vw;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    .cart__product__image {
        width: 300px;
        margin-right: 2rem;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    .cart__product__info {
        @include flex($direction: column);

        p {
            margin: .5rem 0;
        }
    }

    .cart__product__controllers {
        @include flex($align: center);
        margin-top: 1rem;

        button {
            padding: .5rem;
            color: #fff;
            font-size: 1rem;
            background: #000;

            &:last-child {
                margin-left: 1rem;
            }
        }
    }
}