@import '../../sass/';

.cart__message {
    @include flex($justify: center, $align: center, $direction: column);
    height: 100%;

    h2 {
        margin-bottom: 2rem;
    }
}

.cart {
    @include flex($align: center, $justify:space-between);

    .cart__products__summery {
        height: 100%;
        flex: .3;
        padding: 1rem;
        margin-left: 2rem;
        border-left: 1px solid #000;

        h2 {
            border-bottom: 1px solid #000;
            padding-bottom: .5rem;
            margin-bottom: .5rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

@media screen and (max-width:768px) {
    .cart {
        flex-direction: column-reverse;

        .cart__products__summery {
            @include flex($align: center, $justify: space-around);
            position: fixed;
            bottom: 0rem;
            left: 0rem;
            right: 0rem;
            height: 3rem;
            margin: 0;
            background: #fff;
            color: #000;
            border: none;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);

            h2 {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        .cart__products__container {
            width: 100%;
            flex: 1;
            margin-bottom: 3rem;
        }
    }
}