.productsList {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:900px) {
    .productsList {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width:700px) {
    .productsList {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}