@import './';

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &>div {
        flex: 1;
        margin-top: 5rem;
        padding: 1rem;
        opacity: 0;
        animation: fadeIn .5s ease-in-out forwards;
    }
}

// Animations
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}